<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <title>APAPEDIA</title>
    <style>
        .btn-outline-orange {
            color: #ff5722;
            background-color: transparent;
            border-color: #ff5722;
        }

        .btn-outline-orange:hover {
            color: #fff;
            background-color: #FF8C00;
        }

        .carousel-control-prev,
        .carousel-control-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 60px;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
            border-radius: 50%;
            color: #000;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            font-size: 24px;
        }
    </style>
</head>
<body>
<div th:if="${isLoggedIn == false}" class="mx-4">
    <nav th:replace="~{fragments/navbar_not_loggedin :: navbar}"></nav>
</div>
<div th:if="${isLoggedIn == true}" class="mx-4">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
</div>

<br>
<div th:if="${success}" class="alert alert-success" role="alert" th:text="${success}"></div>

<div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner ml-5">
        <div class="carousel-item active">
            <div class="slider_item-box">
                <div class="slider_item-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <div class="slider_item-detail">
                                    <div>
                                        <h1 th:if="${isLoggedIn == true}">
                                            Selamat Datang, <br />
                                            <h1 th:text="${name} + '!'"></h1>
                                        </h1>

                                        <h1 th:if="${isLoggedIn == false}">
                                            Selamat Datang di <br />
                                            APAPEDIA
                                        </h1>
                                        <br>
                                        <p>
                                            APAPEDIA adalah sebuah platform e-commerce yang menyediakan pengalaman belanja online yang inovatif dan komprehensif.
                                            Dengan fokus pada keamanan, kenyamanan, dan beragamnya pilihan produk,
                                            APAPEDIA bertujuan memberikan layanan terbaik kepada pelanggan dari berbagai kalangan.
                                        </p>
                                        <div class="d-flex">
                                            <a th:if="${isLoggedIn == false}" class="btn btn-outline-orange mr-3" onClick="document.getElementById('catalog1').scrollIntoView();">
                                                Lihat Katalog
                                            </a>
                                            <a th:if="${isLoggedIn == true}" class="btn btn-outline-orange mr-3" onClick="document.getElementById('catalog2').scrollIntoView();">
                                                Lihat Katalog
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="slider_img-box">
                                    <div>
                                        <img src="images/shop.jpg" alt="" class="w-100 h-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slider_item-box">
                <div class="slider_item-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <div class="slider_item-detail">
                                    <div>
                                        <h1>
                                            Pantau Penjualan <br />
                                            Produk Anda
                                        </h1>
                                        <br>
                                        <p>
                                            Dalam platform e-commerce kami, kami menyediakan fitur khusus untuk penjual yang dirancang
                                            agar mereka dapat dengan mudah memantau dan mengelola penjualan mereka. Penjual dapat melihat produk terlaris mereka,
                                            membantu mereka untuk lebih memahami tren pasar dan preferensi pelanggan.
                                        </p>
                                        <div class="d-flex">
                                            <a th:if= "${isLoggedIn == false}" class="btn btn-outline-orange mr-3" onClick="document.getElementById('catalog1').scrollIntoView();">
                                                Lihat Katalog
                                            </a>
                                            <a th:if= "${isLoggedIn == true}" class="btn btn-outline-orange mr-3" onClick="document.getElementById('grafik').scrollIntoView();">
                                                Lihat Grafik Penjualan
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="slider_img-box">
                                    <div>
                                        <img src="images/analysis.jpg" alt="" class="w-100 h-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container mt-5 mb-5">
    <br>
    <h1 th:if="${isLoggedIn == true}" id="grafik" class="text-center mb-5">Sales Graph</h1>

    <br>
    <div>
        <h1 id="catalog1" th:if="${isLoggedIn == false}" class="text-center mb-5">All Catalogues</h1>
        <h1 id="catalog2"th:if="${isLoggedIn == true}" class="text-center mb-5">My Catalogues</h1>

        <a th:href="@{/catalogue/add}" th:if="${isLoggedIn == true}" type="button" class="btn btn-md btn-warning">Add Product</a>
        <br><br>

        <div th:if="${isLoggedIn == false} and ${isEmpty == false}">
            <select class="form-control form-select" id="filter" name="filter">
                <option value="productName">Filter by Product Name</option>
                <option value="productPrice">Filter by Product Price</option>
                <option value="sortPriceOrName">Sort Products</option>
            </select>

            <form th:action=@{/search} method="GET" id="searchProductForm">
                <div id="productName" class="row">
                    <div class="col-md-8">
                        <input type="text" name="productName" id="prodName" class="form-control" placeholder="Search Product Name">
                    </div>
                    <div class="col-md-4">
                        <button style="background: #FF8C00;" type="submit" class="btn form-control text-light">Search Product</button>
                    </div>
                </div>
            </form>

            <div id="productPrice" class="row">
                <form id="searchProductPrice" method="GET" th:action="@{/searchByPrice}">
                    <div class="mx-5 mt-2 mb-4">
                        <div class="d-flex flex-row text-center mb-3">
                            <input id = "startPrice" name="startPrice" type="number" class="form-control" min="1" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" pattern="[1-9]\d*" required>
                            <h6 class="mx-3">hingga</h6>
                            <input id="endPrice" name="endPrice" type="number" class="form-control" min="1" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" pattern="[1-9]\d*" required>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-sm text-light" type="submit" style="width: 150px; background: #FF8C00;">Search Product</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="sortPriceOrName" class="row">
                <form id="sortProduct" method="GET" th:action="@{/sortProducts}">
                    <div class="mx-5 mt-2 mb-4">
                        <div class="d-flex flex-row text-center mb-3">
                            <select name="sortBy" class="form-control form-select" id="item">
                                <option value="product">Product Name</option>
                                <option value="price">Product Price</option>
                            </select>
                            <h6 class="mx-3">dan</h6>
                            <select name="order" class="form-control form-select" id="order">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-sm text-light" type="submit" style="width: 150px; background: #FF8C00;">Sort Products</button>
                        </div>
                    </div>
                </form>
            </div>
            <br><br>

            <div class="row pl-4 pr-4">
                <div th:each="catalog: ${allCatalogue}" class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <img th:src="'data:image/jpeg;base64,' + ${catalog.image}" width="180" height="300" alt="product_image">
                                <br><br>
                            </div>
                            <h5 th:text="${catalog.productName}" class="card-title"></h5>
                            <p th:text="'Rp'+${catalog.price}" class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${isLoggedIn == true} and ${isEmpty == false}">
            <div class="row pl-4 pr-4">
                <div th:each="catalog: ${sellerCatalogue}" class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <img th:src="'data:image/jpeg;base64,' + ${catalog.image}" width="180" height="300" alt="product_image">
                                <br><br>
                            </div>
                            <h5 th:text="${catalog.productName}" class="card-title"></h5>
                            <p th:text="'Rp'+${catalog.price}" class="card-text"></p>
                            <a type="button" class="btn btn-md btn-warning" th:href="@{/catalogue/{id}/update(id=${catalog.id})}">Edit Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${isEmpty == true}" class="text-center mt-4">
        <h5>Kosong Bang!</h5>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function(){
        var initialOption = $('#filter').val();
        $("#" + initialOption).show();
        $("#productName, #productPrice, #sortPriceOrName").not("#" + initialOption).hide();

        $('#filter').on('change', function() {
            var value = $(this).val();
            $("#productName, #productPrice, #sortPriceOrName").hide();
            $("#" + value).show();
        });
    });
</script>

<script th:if="${searchMode}">
    document.addEventListener('DOMContentLoaded', function() {
        var targetDiv = document.getElementById('catalog1');
        if (targetDiv) {
            targetDiv.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }

        if (document.getElementById('prodName') != null) {
            document.getElementById('searchProductForm').addEventListener('submit', function (event) {
            localStorage.setItem('savedProductName', productNameInput.value);
            });

            var productNameInput = document.getElementById('prodName');
            var savedProductName = localStorage.getItem('savedProductName');
            if (savedProductName) {
                productNameInput.value = savedProductName;
            }

            const select = document.getElementById("filter");

            // Restore the selected option from localStorage
            const savedValue = localStorage.getItem("filter");

            if (savedValue) {
                select.value = savedValue;
            }

            // Event listener for when an option is selected
            select.addEventListener("change", function() {
                // Get selected value and save to localStorage
                const selectedValue = select.value;
                localStorage.setItem("filter", selectedValue);
            });
        }

        var searchProductForm = document.getElementById('searchProductPrice');
        if (searchProductForm) {
        // Add event listener to the form
            searchProductForm.addEventListener('submit', function (event) {
                // Save the input field values to localStorage
                localStorage.setItem('startPrice', startPriceInput.value);
                localStorage.setItem('endPrice', endPriceInput.value);
            });

            // Get the input elements
            var startPriceInput = document.getElementById('startPrice');
            var endPriceInput = document.getElementById('endPrice');

            // Retrieve the saved values from localStorage
            var savedStartPrice = localStorage.getItem('startPrice');
            var savedEndPrice = localStorage.getItem('endPrice');

            // If saved values are found, set the input field values
            if (savedStartPrice) {
                startPriceInput.value = savedStartPrice;
            }

            if (savedEndPrice) {
                endPriceInput.value = savedEndPrice;
            }
        }

        var searchProductForm = document.getElementById('sortProduct');
        if (searchProductForm) {
        // Add event listener to the form
            searchProductForm.addEventListener('submit', function (event) {
                // Save the input field values to localStorage
                localStorage.setItem('sortBy', sortByInput.value);
                localStorage.setItem('order', orderInput.value);
            });

            // Get the input elements
            var sortByInput = document.getElementById('item');
            var orderInput = document.getElementById('order');

            // Retrieve the saved values from localStorage
            var savedSortBy = localStorage.getItem('sortBy');
            var savedOrder = localStorage.getItem('order');

            // If saved values are found, set the input field values
            if (savedSortBy) {
                sortByInput.value = savedSortBy;
            }

            if (savedEndPrice) {
                orderInput.value = savedOrder;
            }
        }
        // Save the state of dropdown
        const select = document.getElementById("filter");

        // Restore the selected option from localStorage
        const savedValue = localStorage.getItem("filter");

        if (savedValue) {
            select.value = savedValue;
        }

        // Event listener for when an option is selected
        select.addEventListener("change", function() {
             // Get selected value and save to localStorage
             const selectedValue = select.value;
             localStorage.setItem("filter", selectedValue);
        });
    });
</script>

</body>
</html>